body {
    padding: 0px 30px 0px 30px;
}

header > h1 {
    color: crimson;
    font-family: "Roboto Light", serif;
    font-weight: bold;
    font-size: xx-large;
}

h1 > a{
    color: crimson;
    font-family: "Roboto Light", serif;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: none;
}

h2 > a{
    color: crimson;
    font-family: "Roboto Light", serif;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: none;
    margin-left: 80%;
}

header > hr {
    border: 3px solid pink;
}

.more-filters {
  position: absolute;
    right: 40px;
}

.buttons {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 32px
}

.buttons {
    margin-left: 20%;
}

.filter {
    background-color: hotpink;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    text-align: center;
    margin-right: 10px;
}

td, th {
    border: 1px solid beige;
    border-collapse: collapse;
    text-align: center;
    width: 200px;
    length: 100px;
    padding: 10px;
}


.center {
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: gray;
    font-size: x-large;
    font-weight: inherit;
    font-family: "Adobe Devanagari", serif;
    background-color: indianred;
    color: white;
    border-bottom: 3px solid #999999;
}

tbody {
    font-family: "Roboto Light", serif;
    font-size: medium;
    font-weight: bold;

    color: crimson;
}

h2 > span {
    font-family: "Roboto Light", serif;
    font-weight: bold;
    font-size: 50px;
    color: darkmagenta;
}

input {
    width: 500px;
    border-color: black;
    border-width: 1px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;

}

input:hover {
    border-color: indianred;
    border-width: 2px;
    border-radius: 10px;
}

#search {
    margin-left: 20px;
    padding: 12px 24px;
    background-color: lightpink;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
#search:hover {
    background-color: pink;
    box-shadow: 0 5px #666;
}

#search:active {
    background-color: hotpink;
    box-shadow: 0 2px lightgray;
    transform: translateY(10px);
}
