<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<header>
    <div>
        <h1>
            <a th:href="@{/webshop}"> My Shop </a>
            <a th:class="more-filters" th:href="@{/more-filters}"> More Filters >> </a>
        </h1>
    </div>

    <hr>
    <br>
</header>
<form action="/detailed-search" method="get">
    <div class="container">
        <input type="text" class="detailed" name="filterName" placeholder="filter by name">

        <input type="number" class="detailed" name="amount" placeholder="filter by amount">

        <input type="text" class="detailed" name="color" placeholder="filter by color">

        <input type="text" class="detailed" name="brand" placeholder="filter by brand">

        Free Shipping : <input type="checkbox" name="shipping" value="true">

    </div>

    <button type="submit" id="check">Select Filter</button>
</form>

<div>
    <table th:class="center">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item: ${items}">
            <td th:text="${item.getName()}"/>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getPriceFormatted()}"/>
            <td th:text="${item.getQuantity()}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>