<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<header>
    <div>
        <h1><a th:href="@{/webshop}"> My Shop
        </a>
        </h1>
        <h2>
            <a th:href="@{/more-filters}"> More Filters >> </a>
        </h2>
    </div>

    <hr>
    <br>
</header>

<div th:class="buttons">

    <div th:class="tags">

        <a th:class="filter" th:href="@{/shop-items?type=DOG}"> Dog </a>

        <a th:class="filter" th:href="@{/shop-items?type=CAT}"> Cat </a>

        <a th:class="filter" th:href="@{/shop-items?type=ACCESSORIES}"> Accessories </a>

        <a th:class="filter" th:href="@{/shop-items?type=ACCESSORIES}"> Accessories </a>

        <a th:class="filter" th:href="@{/shop-items?type=ACCESSORIES}"> Accessories </a>

    </div>
</div>

<form action="/search" method="post">
    <div>
        <input type="text" name="search" placeholder="...something like nike">
        <button id="search" type="submit">
            <a th:href="@{/webshop}">

            </a>
            Search
        </button>
    </div>
</form>


</body>
</html>