<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<header>
    <div>
        <h1>
            <a th:href="@{/webshop}"> My Shop </a>
            <a th:class="more-filters" th:href="@{/more-filters}"> More Filters >> </a>
        </h1>
    </div>

    <hr>
    <br>
</header>

<div th:class="buttons">

    <div th:class="tags">

        <a th:class="filter" th:href="@{/shop-items?type=CLOTHES_AND_SHOES}"> Clothes and shoes </a>

        <a th:class="filter" th:href="@{/shop-items?type=ELECTRONICS}"> Electronics </a>

        <a th:class="filter" th:href="@{/shop-items?type=BEVERAGES_AND_SNACKS}"> Beverages and snacks </a>

        <a th:class="filter" th:href="@{/price-in-eur}"> Euro </a>

        <a th:class="filter" th:href="@{/price-in-original}"> Original currency </a>

    </div>
</div>

<form action="/search" method="post">
    <div>
        <input type="text" name="search" placeholder="...something like nike">
        <button id="search" type="submit">
            <a th:href="@{/webshop}">

            </a>
            Search
        </button>
    </div>
</form>


</body>
</html>