<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<header>

    <h1>My Shop</h1>
    <hr>
    <br>
</header>

    <div th:class="buttons">

        <form th:class="form" action="/only-available" method="get">
            <button type="submit"> Only available</button>
        </form>

        <form th:class="form" action="/cheapest-first", method="get">

            <button type="submit"> Cheapest first</button>
        </form>

        <form th:class="form" action="/only-available">
            <button type="submit"> Contains nike</button>
        </form>

        <form th:class="form" action="/only-available">
            <button type="submit"> Average stock</button>
        </form>

        <form th:class="form" action="/only-available">
            <button type="submit"> Most expensive available</button>
        </form>

    </div>

<div>
    <table th:class="center">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item: ${items}">
            <td th:text="${item.getName()}"/>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getPriceFormatted()}"/>
            <td th:text="${item.getQuantity()}"/>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>