<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Fields of BankAccount</h1>
<h2>Hello You! These are the fields of a BankAccount</h2>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${name} "></td>
        <td th:text="${balance}"></td>
        <td th:text="${type} "></td>
    </tr>
    </tbody>
</table>

</body>
</html>