<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<ul>
    <li><a th:href="@{/information}">Information</a></li>
</ul>

<div>
    <a th:href="@{/}"> <img src="greenfox.png" alt="green fox"> </a>
</div>

<p>This is <span th:text="${fox.name}"></span>. Currently living on <span th:text="${fox.getFood}"></span> and <span th:text="${fox.getDrink}"></span>. He knows <span th:text="${tricksNumber}"></span> tricks.</p>
<h1>Known tricks</h1>
<ul>
    <li>write HTML</li>
    <li>code in Java</li>
</ul>

</body>
</html>